* text=auto eol=lf
*.ts text
*.tsx text
*.js text
*.jsx text
*.json text
*.html text
*.css text
*.md text
*.wasm binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
